.product-image {
  /* width: 60px;
  height: 60px; */
  width: 100px;
  height: 100px;
}
.single-card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
  padding: 5px;
  border: 2px groove black;
  border-radius: 10px;
}

.single-card-container:hover {
  border: 2px solid #8568ff;
}

.product-name {
  color: #111c85;
  font-size: 20px;
}
