.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.f24 {
  font-size: 24px;
}
.f28 {
  font-size: 28px;
}

.cat-input input[type="checkbox"] {
  width: 15px;
  height: 15px;
  background-color: plum;
}
input[type="checkbox"]:checked{
  background-color: red;
  background: rgba(0, 0, 0, 0);
}

.single-image > img {
  width: 250px;
  height: 250px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0px 4px 2px rgb(0 0 0 / 20%);
  background-clip: padding-box;
}
.single-card-container {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
  column-gap: 30px;
}
.middle {
  display: flex;
  padding: 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.price-rate {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.single-content {
  text-align: left;
  margin: 0;
  max-width: 600px;
}

.single-content > p {
  color: rgb(161, 150, 150);
  margin: 30px 0px;
}

.fa-s {
  margin-right: 20px;
  color: #8568ff;
}
.navlink-pro {
  text-decoration: none;
  color: #666372;
  transition: 1ms;
}

.navlink-pro:hover {
  border: 1px groovergb(116, 110, 110);
}
