.shop-page-container {
  display: flex;
  padding: 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* .shop-page-container {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  margin: auto;
  max-width: 1200px;
  column-gap: 50px;
  margin: 0;
} */


.category-bar {
  width: 200px;
  text-align: left;
  margin: 0 50px;
}
.pagination-container {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 1200px;
  column-gap: 50px;
}
