.navUL {
  list-style-type: none;
  margin: 0;
  column-gap: 26px;
  display: flex;
  justify-content: left;
  padding: 10px;
  align-items: center;
  font-size: 12px;
}

.navLi a {
  list-style: none;
  text-decoration: none;
  padding: 8px 0px;
  margin: 0px;
}

.navUL li {
  color: #0d0e43;
}
.navUL a:hover{
    color: white;
}

.logo {
  font-size: 16px;
}
.shop{
    color: white;
}
nav {
  background-color: #8568ff;
}
