.menu {
  background-color: #8568ff;
  display: flex;
  flex: 1;
  height: 60px;
  align-items: center;
  justify-content: space-around;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  column-gap: 26px;
  display: flex;
  justify-content: left;
  padding: 10px;
  align-items: center;
  font-size: 20px;
}

.nav-li a {
  list-style: none;
  text-decoration: none;
  padding: 8px 0px;
  margin: 0px;
}

.nav-ul li {
  color: #0d0e43;
}
.nav-li:hover {
  color: white;
}

.logo {
  font-size: 26px;
}
.shop {
  color: white;
}

.shop-links {
  display: flex;
  column-gap: 20px;
}
.icons {
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.icons:hover {
  color: #000;
}

input {
  outline: none;
  height: 12px;
  padding: 10px;
}

.container{
  width: 600px;
  margin: auto;
  padding: auto;
  display: flex;

}


